<div class="user-list"
     fxLayout="row wrap"
     fxLayoutGap="10px"
     fxFlexOffset="20px"
     gdGridAlign="space-around start">

  <app-user *ngFor="let user of userList | async"
            [user]="user"
            (deleteEmit)="deleteUser($event)"
            (editEmit)="editUser($event)"
  ></app-user>
</div>

<div class="dialog_scrim" *ngIf="openMenu" (click)="clickMenu()">
</div>

<button mat-fab color="accent" (click)="clickMenu()"
        class="menu-button"
        [class.mat-elevation-z2]="!isOver"
        [class.mat-elevation-z8]="isOver"
        (mouseover)="isOver = true"
        (mouseleave)="isOver = false">
  <i class="material-icons" *ngIf="!openMenu">menu</i>
  <i class="material-icons" *ngIf="openMenu">close</i>
</button>

<!-- menu button -->
<button mat-mini-fab
        class="action-button one mat-elevation-z8"
        *ngIf="openMenu"
        color="basic"
        (click)="openCreateUser()">
  <i class="material-icons">face</i>
</button>

<button mat-raised-button
        class="label labelone mat-elevation-z8"
        *ngIf="openMenu"
        color="basic"
        (click)="openCreateUser()">
  Create User
</button>

<!--<button mat-mini-fab-->
<!--        class="action-button two mat-elevation-z8"-->
<!--        *ngIf="openMenu"-->
<!--        color="basic"-->
<!--        (click)="hello('button two')">-->
<!--  <i class="material-icons">done_all</i>-->
<!--</button>-->
<!--<button mat-raised-button-->
<!--        class="label labeltwo mat-elevation-z8"-->
<!--        *ngIf="openMenu"-->
<!--        color="basic"-->
<!--        (click)="hello('button two')">-->
<!--  Say Hello Two-->
<!--</button>-->
