html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}

@media (max-width: 599px) {

  .container {
    padding-top: 56px;
    height: calc(100% - 56px);
  }
}

@media (min-width: 600px) {
  .container {
    padding-top: 64px;
    height: calc(100% - 64px);
  }
}


.app-header {
  justify-content: space-between;
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.user-list {
  margin: 10px
}

.menu-spacer {
  width: 30px;
}

.logout{
  font-weight: 200;
}
.logout:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 400;
}
